.header {
    background-color: #ccc;
}
.content{
    border: 1px solid #000;
}
.footer {
    background-color: grey;
    width: 50%;
    height: 250px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 16px;
}
.alt_text::first-letter {
    color: red;
    font-size: 24px;
}
.menu {
    list-style-type: none;
}
/*___________________TAB_______________*/
.tab__l{
list-style-type: none;
border: 1px solid #000;
width: 200px;
height: 35px;
line-height: 35px;
text-align: center;
}
.tab__l:hover .menu__link {
    text-decoration: none;
}
.tab__l:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab__l:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tab__l::before {
    content: '◄ ';
    color: orange;
}
/*___________________LINK_______________*/
.menu__link:hover {
    color: red;
}

.menu__link:active {
    color: green;
}
.alt__link:hover::after{
 content: ' ►';
 color: orange;
}
.alt__tab {
    list-style-type: none;
        border: 1px solid #000;
        width: 200px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
table {
    width: 400px;
    height: 200px;
    /* border-collapse: collapse; */
}
